#info {
	display: flex;
	flex-direction: row;
	gap: 1em;
	justify-content: center;
}

#login,
#logout {
	border-radius: 5px;
	height: 1.5em;
	cursor: pointer;
	margin: auto 0;
}

#profile-pfp {
	height: 60px;
}

#welcome {
  margin: .2em 0;
}

