#info {
	display: flex;
	flex-direction: row;
	gap: .6em;
  margin-bottom: .6em;
	align-self: center;
}

#profile-pfp {
	height: 60px;
}

#welcome {
  margin: .3em 0;
}

#login,
#logout {
	height: .3em;
	cursor: pointer;
}
