/* General Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  margin: 0;
  padding: 0;
}

/* Main Container */
.homepage {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

/* Form Styling */
.homepage .post-form {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.homepage .post-form h6 {
  margin: 0;
}

.homepage .post-form input,
.homepage .post-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.homepage .post-form button {
  background-color: #313436;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.homepage .post-form button:hover {
  background-color: #3f4041;
}

/* Posts Container */
.homepage .posts-container {
  margin-top: 40px;
}

.homepage .posts-container h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px; /* Adds space between the title and posts */
}

/* Post List */
.homepage .posts {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

/* Post Card */
.homepage .post {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow: hidden;
}

.homepage .post:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Post Header */
.homepage .post h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Post Content */
.homepage .post p {
  color: #333;
  font-size: 1rem;
  margin-top: 10px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Post Image */
.homepage .post img {
  display: block;
  margin: 15px 0;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Post Actions (Likes & Comment Counter) */
.homepage .post-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 10px;
}

.homepage .post-actions button {
  background-color: #232724;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.homepage .post-actions button:hover {
  background-color: #218838;
}
